html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Definición de fuentes */

.edu-qld-hand-regular {
  font-family: "Edu QLD Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.edu-qld-hand-bold {
  font-family: "Edu QLD Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.contenedor {
    max-width: 100rem;
    width: 90%;
    margin: 0 auto;
}

.encabezado {
    height: 30rem;
    background-image: url(../img/fachada.jpg);
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8); /* Capa oscura */
    background-blend-mode: darken; /* O también puede ser multiply */
}

.barra {
    text-align: center;
    padding-top: 1.5rem;
}

.navegacion__enlace {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

h1 {
    text-align: center;
    color: white;
    font-size: 4rem;
    padding-top: 4rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

.tituloEnlace {
    text-decoration: none;
}


.barraSeparador {  /* Simplemente creamos una linea blanca para el diseño*/
    height: 3rem;
}

.contenedorFondo {
    background-color: black;
}

.articulo:first-child {
    padding-top: 2rem;
}

.articulo__texto {
    color: white;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.contenedor__articulo__imagen {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.articulo__imagen {
    width: 90%;
}

@media (min-width: 768px) {
    .articulo:first-child {
        padding-top: 6rem; 
    }

    .articulo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8rem;
        padding-bottom: 10rem;
    }

    .articulo:last-child {
        flex-direction: row-reverse;
    }

    .articulo__texto {
        font-size: 3rem;
        flex: 1;
    }

    .contenedor__articulo__imagen {
        flex: 1;
    }
}

.icono-store {
  color: white;
  text-align: center;
}

.contenedorIcono-store {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

/* Pagina de productos */

.producto:first-child {
    padding-top: 5rem;
}

.producto__texto {
    font-size: 2.5rem;
    color: white;
    max-width: 50rem;
    margin: 0 auto;
}

.producto__texto:last-child {
    padding-bottom: 2rem;
}

.producto__imagen {
    width: 90%;
    max-width: 30rem;
}

.contenedor__producto__imagen {
    text-align: center;
}

@media (min-width: 768px) {
    .producto {
        display: flex;
        align-items: center;
        padding-bottom: 3rem;
        gap: 3rem;
    }

    .producto__texto {
        flex: 2;
        gap: 2rem;
    }

    .contenedor__producto__imagen {
        flex: 1;
    }

    .producto__imagen {
        max-width: 90%;
    }

}



